@import url(_normalize.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%; }

body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.container {
  width: 400px;
  height: 400px;
  position: relative;
  -webkit-perspective: 800px;
  perspective: 800px;
  -webkit-box-shadow: 2px 3px 10px 3px rgba(160, 160, 160, 0.35);
  box-shadow: 2px 3px 10px 3px rgba(160, 160, 160, 0.35);
  background-color: #55524A; }

#card {
  height: 200px;
  width: 300px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;
  -webkit-box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.5); }

#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFCE4E;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#card .front {
  border-radius: 10px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#card .back {
  border-radius: 10px;
  overflow: hidden;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.container:hover #card {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg); }

.bike {
  top: 85px;
  left: 50%;
  margin-left: -65px; }

@-webkit-keyframes air {
  to {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); } }

@keyframes air {
  to {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); } }

.helicopter {
  left: 50%;
  margin-left: -67px;
  top: 50%;
  margin-top: -30px; }

.air {
  position: relative;
  height: 100%;
  width: 100%; }

.air-1,
.air-2,
.air-3,
.air-4 {
  height: 3px;
  background-color: #444;
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-animation: air 1s linear infinite;
  animation: air 1s linear infinite;
  margin-top: 30px; }

.air-1 {
  -webkit-animation-delay: -425ms;
  animation-delay: -425ms;
  width: 50px; }

.air-2 {
  width: 100px; }

.air-3 {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
  width: 150px; }

.air-4 {
  width: 80px; }

.surface {
  position: absolute;
  top: 160px; }

.surface-1 {
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  -webkit-animation: fly 3s linear infinite;
  animation: fly 3s linear infinite; }

.surface-2 {
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  -webkit-animation: fly 3s linear infinite;
  animation: fly 3s linear infinite;
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms; }

@-webkit-keyframes fly {
  to {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px); } }

@keyframes fly {
  to {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px); } }

@-webkit-keyframes bike {
  to {
    -webkit-transform: scaleY(1.05);
    transform: scaleY(1.05); } }

@keyframes bike {
  to {
    -webkit-transform: scaleY(1.05);
    transform: scaleY(1.05); } }

.bike {
  -webkit-animation: bike 400ms ease infinite alternate;
  animation: bike 400ms ease infinite alternate;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%; }

@-webkit-keyframes helicopter {
  from {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  to {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }

@keyframes helicopter {
  from {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  to {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }

.helicopter {
  -webkit-animation: helicopter 1s ease infinite alternate;
  animation: helicopter 1s ease infinite alternate;
  z-index: 9999; }

.svg {
  position: absolute; }
