html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='main.css')
        title 100 Days of CSS 
        //- 100dayscss.com
    body
        .container
            .moon
            - for(var i = 1; i < 40; i++)
                div(class=`droplet-${i}`)
            .hills
                .hill-1
                .hill-2
                .hill-3
                .ground
                    

                            
    script(src="main.js", type="text/javascript")
    


