html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='styles.css')
        title 100 Days of CSS 
        //- 100dayscss.com
body
    .container
        
        .quote 
          | I know quite certainly that I myself have no special talent; curiosity, 
          span.highlight obsession 
          | and dogged endurance, combined with self-criticism have brought me to my ideas.
          .quote--apostrophe
            svg(class="quote-mark" width='75', height='50', version='1', xmlns='http://www.w3.org/2000/svg')
              path(class="quote-mark-path" d='M49 50c-7 0-11-5-11-14s4-17 12-25C58 4 64 0 70 0c3 0 4 1 4 2l-2 4-4 4c-8 7-11 14-9 21l2 4 1 4c1 1 0 2-1 4l-5 5-7 2zm-38 0C4 50 0 45 0 36s5-17 13-25C20 4 27 0 32 0c3 0 4 1 5 2l-2 4-5 4c-8 7-11 14-9 21l2 4 2 4-1 4-5 5-8 2z')
          .quote-author — Albert Einstein
          .popup
            .popup__header [əbˈseʃ(ə)n] 
            .popup__main
              | Obsession, a persistent disturbing preoccupation with an often unreasonable idea or feeling.