@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
html,
body {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #fff; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.container {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(45deg, #3b3697, #42b3bb);
  -webkit-box-shadow: 2px 3px 10px 3px rgba(160, 160, 160, 0.35);
  box-shadow: 2px 3px 10px 3px rgba(160, 160, 160, 0.35); }

.frame {
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.0; }

.frame__100 {
  position: relative;
  height: 80px; }
  .frame__100 span {
    -webkit-box-shadow: 1px 2px 8px 3px rgba(124, 124, 124, 0.25);
    box-shadow: 1px 2px 8px 3px rgba(124, 124, 124, 0.25);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 80px;
    width: 18px;
    position: absolute; }
  .frame__100 span:nth-child(1) {
    height: 25px;
    width: 15px;
    left: -6px;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    top: 1px; }
  .frame__100 span:nth-child(2) {
    left: 5px;
    z-index: 3; }
  .frame__100 span:nth-child(1),
  .frame__100 span:nth-child(2) {
    background-color: #fff;
    border-radius: 2px; }
  .frame__100 span:nth-child(3) {
    z-index: 2;
    right: 72px; }
  .frame__100 span:nth-child(3),
  .frame__100 span:last-child {
    width: 80px;
    border: 18px solid #fff;
    border-radius: 50%; }
  .frame__100 span:last-child {
    right: 0; }

.frame__days,
.frame__challenge {
  text-align: justify; }

.frame__days {
  font-weight: 700;
  font-size: 5em; }

.frame__challenge {
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 1.35em; }
