html,
body {
  height: 100%;
  width: 100%; }

body {
  background-color: #fff; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.container {
  background-image: linear-gradient(45deg, #4cc291, #2ac8d3);
  -webkit-box-shadow: 2px 3px 10px 3px rgba(160, 160, 160, 0.35);
  box-shadow: 2px 3px 10px 3px rgba(160, 160, 160, 0.35);
  height: 400px;
  width: 400px; }
  .container .open.burger-btn {
    height: 6px;
    -webkit-transition: height 250ms ease-in-out 0ms;
    transition: height 250ms ease-in-out 0ms; }
    .container .open.burger-btn .line-2 {
      width: 0;
      visibility: hidden;
      -webkit-transition: width 250ms ease-in-out 0ms, visibility 250ms ease-in-out 0ms;
      transition: width 250ms ease-in-out 0ms, visibility 250ms ease-in-out 0ms; }
    .container .open.burger-btn .line-1 {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: -webkit-transform 250ms ease-in-out 250ms;
      transition: -webkit-transform 250ms ease-in-out 250ms;
      transition: transform 250ms ease-in-out 250ms;
      transition: transform 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out 250ms; }
    .container .open.burger-btn .line-3 {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: -webkit-transform 250ms ease-in-out 250ms;
      transition: -webkit-transform 250ms ease-in-out 250ms;
      transition: transform 250ms ease-in-out 250ms;
      transition: transform 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out 250ms; }
  .container .close.burger-btn {
    height: 40px;
    -webkit-transition: height 250ms ease-in-out 250ms;
    transition: height 250ms ease-in-out 250ms; }
    .container .close.burger-btn .line-2 {
      visibility: visible;
      width: 100%;
      -webkit-transition: visibility 250ms ease-in-out 250ms;
      transition: visibility 250ms ease-in-out 250ms; }
    .container .close.burger-btn .line-1 {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: -webkit-transform 250ms ease-in-out 0ms;
      transition: -webkit-transform 250ms ease-in-out 0ms;
      transition: transform 250ms ease-in-out 0ms;
      transition: transform 250ms ease-in-out 0ms, -webkit-transform 250ms ease-in-out 0ms; }
    .container .close.burger-btn .line-3 {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: -webkit-transform 250ms ease-in-out 0ms;
      transition: -webkit-transform 250ms ease-in-out 0ms;
      transition: transform 250ms ease-in-out 0ms;
      transition: transform 250ms ease-in-out 0ms, -webkit-transform 250ms ease-in-out 0ms; }
  .container .burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    cursor: pointer;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 40px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    width: 60px; }
    .container .burger-btn .line-1,
    .container .burger-btn .line-2,
    .container .burger-btn .line-3 {
      background-color: #fff;
      border-radius: 5px;
      -webkit-box-shadow: 1px 2px 3px 1px rgba(63, 63, 63, 0.35);
      box-shadow: 1px 2px 3px 1px rgba(63, 63, 63, 0.35);
      height: 6px;
      width: 60px; }
    .container .burger-btn .line-1 {
      position: absolute;
      top: 0; }
    .container .burger-btn .line-2 {
      margin: 0 auto; }
    .container .burger-btn .line-3 {
      bottom: 0;
      position: absolute; }
