html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='main.css')
        title 100 Days of CSS 
        //- 100dayscss.com
    body
        .container
            .circle-container
                    .circle.circle-main
                    - for (var x = 0; x < 15; x++)
                      div(class=`circle circle-${x}`)

                            
    script(src="main.js", type="text/javascript")
    


