* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}

body {
    @extend html;
    background-color: $cardBgColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

