
.container{
  display: flex;
  box-shadow: 2px 3px 10px 3px rgba(160, 160, 160, 0.35);
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 400px;
}

.centered {
  $size: 50px;
  position: absolute;
  left: 50%;
  margin-left: -($size/2);
  top: 50%;
  margin-top: -($size/2);
}

// grid
.grid {
  flex: 1;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  padding: 5px;
}

.grid__item {
  flex: 40%;
  flex-shrink: 1;
  overflow: hidden;
  position: relative;
  margin: 5px;
  cursor: pointer;
}

.grid__item img {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  margin-left: -50%;
}

// overlays 

.overlay {
  transition: all 500ms ease;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.25);
  z-index: 5;
}

.grid__item:hover .overlay {
  opacity: 1;
}
.grid__item:hover .overlay .button {
  transform: scale(1);
  opacity: 1;
}

// drawer
.grid-overlay__upper {
  height: 45%;
  overflow: hidden;
  position: absolute;
  z-index : 100;
  top: -180px;
  transition: all 1s 200ms ease;
  width: 100%;
}

.grid-overlay__lower {
  width: 100%;
  background-color: $primary;
  color: white;
  height: 55%;
  position: absolute;
  z-index : 100;
  bottom: -320px;
  transition: all 1s 200ms ease;
}

.grid-overlay-thumbnail {
  $size: 100px;
  border-radius: 50%;
  height:100px;
  width:100px;
  overflow: hidden;
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -($size/2);
  z-index: 400;
  box-shadow: 0 7px 8px (rgba(0,0,0,0.2));
  border: 3px solid white;
  transition: all 500ms 0ms ease;
  img {
      height:100px;
      margin-left: -35%;
  }
}

.name {
  padding: 70px;
  font-size: 1em;
  text-align: center;
}

.visible .grid-overlay__lower {
  bottom: 0;
}
.visible .grid-overlay__upper {
  top: 0;
}

.visible .grid-overlay-thumbnail{
  transition: all 300ms 800ms ease; // transition when coming down
  top: 140px;
}

// buttons

.button {
  $size: 50px;
  background-color: $primary;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 2em;
  font-weight: 200;
  height: $size;
  padding: 6px;
  text-align: center;
  transition: all 400ms 0ms ease;
  width: $size;
  
}
.button--hover {
  opacity: 0;
  transform: scale(3);
}

.social {
  margin-top: 40px;
  display: flex;
  justify-content: space-around; 
}

.buttons--invert {
  border: 2px solid white;
  background: none;
  color: white;
  font-size: 1.2em;
  line-height: 1.8;
  &:hover {
      background-color: white;
      color: $primary;
  }
}

.button--close {
  position: absolute;
  right: 20px;
  z-index: 200;
  top: -50px;
  transform: rotate(45deg);
  transition: all 250ms 200ms linear; // transition when coming down
}

.visible .button--close {
  transition: all 250ms 1000ms ease;
  top: 20px;
  
}

