html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet' href='styles.css')
    title 100 Days of CSS 
    //- 100dayscss.com
  body
  .container
    .grid-overlay__upper
      img( src="http://ladidadi.xyz/img/codepen/css100/13/image4.jpeg")
    .button.button--close +
    .grid-overlay-thumbnail.centered
      img( src="http://ladidadi.xyz/img/codepen/css100/13/image2.jpeg")
    .grid-overlay__lower
      .name Julia Toth
        .social
          .button.buttons--invert O
          .button.buttons--invert O
          .button.buttons--invert O
    .grid
      .grid__item.grid__item-1
        .overlay
          .button.button--hover.centered +
        img(src="http://ladidadi.xyz/img/codepen/css100/13/image1.jpeg")
      .grid__item.grid__item-2
        .overlay
          .button.button--hover.centered +
        img(src="http://ladidadi.xyz/img/codepen/css100/13/image2.jpeg")
      .grid__item.grid__item-3
        .overlay
          .button.button--hover.centered +
        img(src="http://ladidadi.xyz/img/codepen/css100/13/image3.jpeg")
      .grid__item.grid__item-4
        .overlay
          .button.button--hover.centered +
        img(src="http://ladidadi.xyz/img/codepen/css100/13/image4.jpeg")
  script(src="script.js")